In [2]:
print("Hello world!")

Hello world!


Lista de Regras
- A classe é um conjunto de objetos;
- A classe agrupa objetos em comum;
- A classe possui um construtor     _init_ ;
- As características dos objetos são atributos;
- O self acessa as características e comportamentos da classe;
- Os metodos de trabalgo (workers -oziel moreiro neto): São métodos para calcular, desenvolver a lógica de programação.

- Criar uma clase Produto;
- Com uma função para calcular o valor toral desse produto.

In [31]:
#Produto
class Produto:
    def __init__(self, qtde, preco):
        self.qtde = qtde
        self.preco = preco

    def calcular_total(self):
        return self.qtde * self.preco
        print(qtde * preco)

p = Produto (qtde=10, preco=10)   
 
print(f"O valor total de melancias é {p.calcular_total}")

O valor total de melancias é <bound method Produto.calcular_total of <__main__.Produto object at 0x000001B0F4F65550>>

### Desafio :

- Analise o dataset aluguel.csv da aula passada.
- Crie uma classe que representará o arquivo.
- Crie Três imóveis (objetos) que estão no dataset.

import pandas as senai

In [33]:
import pandas as senai

In [34]:
url = "dataset/aluguel.csv" 
senai.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [4]:
class Imoveis:
    def __init__(self, Valor, Condominio, IPTU):
        self.Valor = Valor
        self.Condominio = Condominio
        self.IPTU = IPTU
    def descricao(self):
        return f"{self.Valor} {self.Condominio} ({self.IPTU})"
    
imovel1 = Imoveis(10000,250,7500)
imovel2 = Imoveis(2500,650,2500)
imovel3 = Imoveis(3000,780,1500)

print(imovel1.descricao())
print(imovel2.descricao())
print(imovel3.descricao())

10000 250 (7500)
2500 650 (2500)
3000 780 (1500)