In [1]:
import pandas as senai

In [ ]:
url = "dataset/F1DriversDataset.csv" 
senai.read_csv(url)

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1960,0.0,0.000000,0.0,0.0,0.000000,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.0,1.000000,0.0,0.0,0.000000,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0.0,10.0,3.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.300000,0.0,0.0,0.000000,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0.0,36.0,30.0,0.0,0.0,0.0,0.0,...,NaN,1970,0.0,0.833333,0.0,0.0,0.000000,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1990,0.0,1.000000,0.0,0.0,0.000000,0.000000,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Emilio Zapico,Spain,[1976],0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.000000,0.0,0.0,0.000000,0.000000,1,False
864,Zhou Guanyu,China,[2022],0.0,23.0,23.0,0.0,0.0,0.0,2.0,...,NaN,2020,0.0,1.000000,0.0,0.0,0.086957,0.260870,1,False
865,Ricardo Zonta,Brazil,"[1999, 2000, 2001, 2004, 2005]",0.0,37.0,36.0,0.0,0.0,0.0,0.0,...,NaN,2000,0.0,0.972973,0.0,0.0,0.000000,0.081081,5,False
866,Renzo Zorzi,Italy,"[1975, 1976, 1977]",0.0,7.0,7.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,1.000000,0.0,0.0,0.000000,0.142857,3,False
867,Ricardo Zunino,Argentina,"[1979, 1980, 1981]",0.0,11.0,10.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.909091,0.0,0.0,0.000000,0.000000,3,False

In [4]:
url = "dataset/F1DriversDataset.csv" 
dados= senai.read_csv(url)
dados.head(10)

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1960,0.000000,0.000000,0.0,0.0,0.0,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.000000,1.000000,0.0,0.0,0.0,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0.0,10.0,3.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.000000,0.300000,0.0,0.0,0.0,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0.0,36.0,30.0,0.0,0.0,0.0,0.0,...,NaN,1970,0.000000,0.833333,0.0,0.0,0.0,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1990,0.000000,1.000000,0.0,0.0,0.0,0.000000,1,False
5,Walt Ader,United States,[1950],0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.000000,1.000000,0.0,0.0,0.0,0.000000,1,False
6,Kurt Adolff,West Germany,[1953],0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.000000,1.000000,0.0,0.0,0.0,0.000000,1,False
7,Fred Agabashian,United States,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957]",0.0,9.0,8.0,1.0,0.0,0.0,0.0,...,NaN,1950,0.111111,0.888889,0.0,0.0,0.0,0.166667,8,False
8,Kurt Ahrens Jr.,West Germany,"[1966, 1967, 1968, 1969]",0.0,4.0,4.0,0.0,0.0,0.0,0.0,...,NaN,1970,0.000000,1.000000,0.0,0.0,0.0,0.000000,4,False
9,Jack Aitken,United Kingdom,[2020],0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,2020,0.000000,1.000000,0.0,0.0,0.0,0.000000,1,False

In [3]:
url = "dataset/F1DriversDataset.csv" 
dados= senai.read_csv(url)
dados.tail(10)

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
858,Roelof Wunderink,Netherlands,[1975],0.0,6.0,3.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.500000,0.0,0.000000,0.000000,0.000000,1,False
859,Alexander Wurz,Austria,"[1997, 1998, 1999, 2000, 2005, 2007]",0.0,69.0,69.0,0.0,0.0,3.0,1.0,...,NaN,2000,0.0,1.000000,0.0,0.043478,0.014493,0.652174,6,False
860,Sakon Yamamoto,Japan,"[2006, 2007, 2010]",0.0,21.0,21.0,0.0,0.0,0.0,0.0,...,NaN,2010,0.0,1.000000,0.0,0.000000,0.000000,0.000000,3,False
861,Alex Yoong,Malaysia,"[2001, 2002]",0.0,18.0,14.0,0.0,0.0,0.0,0.0,...,NaN,2000,0.0,0.777778,0.0,0.000000,0.000000,0.000000,2,False
862,Alessandro Zanardi,Italy,"[1991, 1992, 1993, 1994, 1999]",0.0,44.0,41.0,0.0,0.0,0.0,0.0,...,NaN,1990,0.0,0.931818,0.0,0.000000,0.000000,0.022727,5,False
863,Emilio Zapico,Spain,[1976],0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1,False
864,Zhou Guanyu,China,[2022],0.0,23.0,23.0,0.0,0.0,0.0,2.0,...,NaN,2020,0.0,1.000000,0.0,0.000000,0.086957,0.260870,1,False
865,Ricardo Zonta,Brazil,"[1999, 2000, 2001, 2004, 2005]",0.0,37.0,36.0,0.0,0.0,0.0,0.0,...,NaN,2000,0.0,0.972973,0.0,0.000000,0.000000,0.081081,5,False
866,Renzo Zorzi,Italy,"[1975, 1976, 1977]",0.0,7.0,7.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,1.000000,0.0,0.000000,0.000000,0.142857,3,False
867,Ricardo Zunino,Argentina,"[1979, 1980, 1981]",0.0,11.0,10.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.909091,0.0,0.000000,0.000000,0.000000,3,False

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Driver              868 non-null    object
 1   Nationality         868 non-null    object
 2   Seasons             868 non-null    object
 3   Championships       868 non-null    float64
 4   Race_Entries        868 non-null    float64
 5   Race_Starts         868 non-null    float64
 6   Pole_Positions      868 non-null    float64
 7   Race_Wins           868 non-null    float64
 8   Podiums             868 non-null    float64
 9   Fastest_Laps        868 non-null    float64
 10  Points              868 non-null    float64
 11  Active              868 non-null    bool
 12  Championship Years  34 non-null     object
 13  Decade              868 non-null    int64
 14  Pole_Rate           868 non-null    float64
 15  Start_Rate          868 non-null    float64
 16  Win_Rate            868 non-null    float64
 17  Podium_Rate         868 non-null    float64
 18  FastLap_Rate        868 non-null    float64
 19  Points_Per_Entry    868 non-null    float64
 20  Years_Active        868 non-null    int64
 21  Champion            868 non-null    bool
dtypes: bool(2), float64(14), int64(2), object(4)
memory usage: 137.4+ KB

In [6]:
dados.columns

Index(['Driver', 'Nationality', 'Seasons', 'Championships', 'Race_Entries',
       'Race_Starts', 'Pole_Positions', 'Race_Wins', 'Podiums', 'Fastest_Laps',
       'Points', 'Active', 'Championship Years', 'Decade', 'Pole_Rate',
       'Start_Rate', 'Win_Rate', 'Podium_Rate', 'FastLap_Rate',
       'Points_Per_Entry', 'Years_Active', 'Champion'],
      dtype='object')

In [10]:
dados[['Driver', 'Seasons']]

                Driver                         Seasons
0          Carlo Abate                    [1962, 1963]
1     George Abecassis                    [1951, 1952]
2        Kenny Acheson                    [1983, 1985]
3    Andrea de Adamich  [1968, 1970, 1971, 1972, 1973]
4       Philippe Adams                          [1994]
..                 ...                             ...
863      Emilio Zapico                          [1976]
864        Zhou Guanyu                          [2022]
865      Ricardo Zonta  [1999, 2000, 2001, 2004, 2005]
866        Renzo Zorzi              [1975, 1976, 1977]
867     Ricardo Zunino              [1979, 1980, 1981]

[868 rows x 2 columns]